<!DOCTYPE html>

<html>
<head>
</head>
<body>
    <iframe src="https://vpos.infonet.com.py:8888"
            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="">
    </iframe>
    </body>
</html>
<script type="application/javascript">
    styles = {
    "form-background-color": "#001b60",
    "button-background-color": "#4faed1",
    "button-text-color": "#fcfcfc",
    "button-border-color": "#dddddd",
    "input-background-color": "#fcfcfc",
    "input-text-color": "#111111",
    "input-placeholder-color": "#111111"
    };
    window. onload = function () {
    Bancard.Checkout. createForm ('iframe-container', 'WR-YY9JmxsEZV3hpVGA7', styles);
    };
</script>

